body,
html {
  width: 100%;
  height: 100%;
  font-size: 16px;
  font-weight: 400; }

body {
  font-family: 'Merriweather', 'Helvetica Neue', 'Arial', sans-serif; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', 'Helvetica Neue', 'Arial', sans-serif; }

a {
  transition: all 0.2s; }

.text-faded {
  color: rgba(255, 255, 255, 0.7); }

.py-section {
  padding: 8rem 0; }

.navbar {
  font-family: 'Open Sans', 'Helvetica Neue', 'Arial', sans-serif;
  transition: all 0.2s;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #fff;
  border-bottom: 1px solid rgba(33, 37, 41, 0.1); }
  @media (min-width: 992px) {
    .navbar {
      background-color: transparent;
      border-bottom: transparent; } }
  .navbar .navbar-brand {
    color: #F05F40; }
    .navbar .navbar-brand:focus, .navbar .navbar-brand:hover {
      color: #F05F40; }
    @media (min-width: 992px) {
      .navbar .navbar-brand {
        color: rgba(255, 255, 255, 0.7); }
        .navbar .navbar-brand:focus, .navbar .navbar-brand:hover {
          color: #fff; } }
  @media (min-width: 992px) {
    .navbar.navbar-shrink {
      background-color: #fff;
      border-bottom: 1px solid rgba(33, 37, 41, 0.1); }
      .navbar.navbar-shrink .navbar-brand {
        color: #F05F40; }
      .navbar.navbar-shrink .navbar-nav > .nav-item > .nav-link {
        color: #212529; }
        .navbar.navbar-shrink .navbar-nav > .nav-item > .nav-link:focus {
          color: #212529; }
        .navbar.navbar-shrink .navbar-nav > .nav-item > .nav-link:hover {
          color: #F05F40; } }

.navbar-nav > .nav-item > .nav-link {
  font-size: 0.9rem;
  color: #212529; }
  .navbar-nav > .nav-item > .nav-link:focus {
    color: #212529; }
  .navbar-nav > .nav-item > .nav-link:hover {
    color: #F05F40; }
  @media (min-width: 992px) {
    .navbar-nav > .nav-item > .nav-link {
      padding: 0.5rem 1rem;
      color: rgba(255, 255, 255, 0.7); }
      .navbar-nav > .nav-item > .nav-link:focus {
        color: rgba(255, 255, 255, 0.7); }
      .navbar-nav > .nav-item > .nav-link:hover {
        color: #fff; } }

.header {
  padding-top: 10rem;
  padding-bottom: calc(10rem - 56px);
  background-image: url("../img/header.jpg");
  background-position: center center;
  background-size: cover; }
  @media (min-width: 992px) {
    .header {
      display: flex;
      align-items: center;
      height: 100vh;
      min-height: 650px;
      padding-top: 0;
      padding-bottom: 0; } }
  .header__title {
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase; }
    .header__title::after {
      content: "";
      display: block;
      max-width: 50px;
      height: 3px;
      margin: 30px auto;
      background-color: #F05F40; }
    @media (min-width: 992px) {
      .header__title {
        font-size: 3rem; } }
    @media (min-width: 1200px) {
      .header__title {
        font-size: 4rem; } }
  .header__text {
    font-weight: 300; }
    @media (min-width: 768px) {
      .header__text {
        font-size: 1.15rem; } }

.btn {
  padding: 1rem 2rem;
  font-weight: 700;
  text-transform: uppercase;
  font-family: 'Open Sans', "Helvetica Neue", Helvetica, sans-serif;
  border: none;
  border-radius: 100px; }

.btn-primary {
  background-color: #F05F40; }
  .btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    color: #fff;
    background-color: #ee4b28 !important; }
  .btn-primary:focus, .btn-primary:active {
    box-shadow: 0 0 0 0.2rem rgba(240, 95, 64, 0.5) !important; }

.start {
  background-color: #F05F40; }
  .start__title::after {
    content: "";
    display: block;
    max-width: 50px;
    height: 3px;
    margin: 1.5rem auto;
    background-color: #fff; }

.service__title::after {
  content: "";
  display: block;
  max-width: 50px;
  height: 3px;
  margin: 1.5rem auto;
  background-color: #F05F40; }

.service__description {
  margin-bottom: 0; }

.service__item .fas {
  color: #F05F40; }

.portfolio__item {
  position: relative;
  display: block; }

.portfolio__content {
  font-family: 'Open Sans', 'Helvetica Neue', 'Arial', sans-serif;
  transition: all 0.2s;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  opacity: 0; }
  .portfolio__content:hover, .portfolio__content:focus {
    background-color: rgba(240, 95, 64, 0.9);
    opacity: 1; }

.portfolio__category {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase; }
  @media (min-width: 768px) {
    .portfolio__category {
      font-size: 16px; } }

.portfolio__project {
  font-size: 18px;
  color: #fff; }
  @media (min-width: 768px) {
    .portfolio__project {
      font-size: 22px; } }
